.car-card-container{
    margin-top: 2.5rem;
}
h1 {
  display: block;
  color:black;
  font-size: 3rem;
  font-family: 'Lilita One', cursive;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
 
  
}
.navbar-brand{
  padding-left: 20rem;
}

.car-card{
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.vehicle-list {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
  }
  
  .vehicle-card {
    width: auto;
    height: auto;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
